html {
    text-align: center;
    width: 300px;
}

body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    max-width: 300px;
}

#popup-body  #output {
    text-align: center;
    font-size: 12px;
}

#popup-body  li:hover{
    text-shadow: -.25px -.25px 0 black, 
    .25px .25px black;
    /* font-weight:bold; */
}
ul {
    padding-inline-start: 0px;
    list-style-type: none;
}
li {
    border: 1px solid;
    margin-top: 1px;
}