html {
    text-align: center;
    width: 300px;
}

body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    max-width: 300px;
}

.body-container  #clippings-container {
    text-align: center;
    font-size: 12px;
}

.body-container  li:hover{
    text-shadow: -.25px -.25px 0 black, 
    .25px .25px black;
}
.body-container #search-input {
    margin-top: 0.8rem;
    padding: 0.2rem 1rem;
}
.body-container ul {
    padding-inline-start: 0px;
    list-style-type: none;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 300px;
    overflow-y: auto;
}
.body-container li {
    display: flex;
    margin-top: 0.4rem;
    background-color: #fff;
    border: 2px solid #e1e4e8;
    border-radius: 6px;
}
.body-container li .text {
    flex: 3; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 10px;
} 
.body-container li .date {
    flex: 1;
}


.body-container #reset-button {
    margin-bottom: 5px;
}

.hide {
    display: none;
}