html {
    text-align: center;
    width: 300px;
}

body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    max-width: 300px;
}

#popup-body  #clippings-container {
    text-align: center;
    font-size: 12px;
}

#popup-body  li:hover{
    text-shadow: -.25px -.25px 0 black, 
    .25px .25px black;
}
#search-input {
    margin-top: 0.8rem;
    padding: 0.2rem 1rem;
}
ul {
    padding-inline-start: 0px;
    list-style-type: none;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 300px;
    overflow-y: auto;
}
li {
    display: flex;
    margin-top: 0.4rem;
    background-color: #fff;
    border: 2px solid #e1e4e8;
    border-radius: 6px;
}
li .text {
    flex: 3;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 10px;
} 
li .date {
    flex: 1;
} 