:root {
    width: 300px;
}

:root {
    /* Light Mode colors */
    --bg: rgb(249, 249, 251);
    --fg: #222;
}

.dark-theme {
    /* Dark Mode colors */
    --bg: #1c1c1c;
    --fg: #fff;
}

.dark-theme button, .dark-theme input, .dark-theme .body-container li {
    border-color: #303030;
    border-style: solid;
}

.dark-theme input:focus {
    border: 1px solid var(--fg);
    outline: none;
}

html, body, input {
    background: var(--bg);
    color: var(--fg);
}

body {
    font-family: Inter, sans-serif;
}

#top-container {
    display: flex;
}

.body-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 280px;
}

.body-container li {
    display: flex;
    margin-top: 0.4rem;
    border: 2px solid #e1e4e8;
    border-radius: 6px;
}

.body-container li .text {
    flex: 3;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 10px;
}

.body-container li .creation-date {
    flex: 1;
}

.body-container li:hover {
    text-shadow: -0.25px -0.25px 0 var(--fg), 0.25px 0.25px var(--fg);
}

.body-container #search-input {
    padding: 0.2rem 1rem;
}

.body-container ul {
    padding-inline-start: 0px;
    list-style-type: none;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 300px;
    overflow-y: auto;
}

.body-container #reset-button {
    width: 130px;
    margin: 0 auto;
    padding: 5px;
}

#clippings-container {
    margin-top: 10px;
}

.hide {
    display: none;
}

#theme-button {
    background: none;
    border: none;
    outline: none;
    margin-left: auto;
}

input {
    border-radius: 4px;
    border: 1px solid var(--fg);
}